@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.page-bg {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.page-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/background.png"); /* ubah sesuai nama file di /public */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(20px) brightness(0.4);
  transform: scale(1.05);
  z-index: 0;
}

.page-bg > * {
  position: relative;
  z-index: 1;
}